<font color='green'><div class="alert alert-success"><strong><H1>Numbers</H1></strong><br>
We'll learn about the following topics:<br>
    <strong>1.) Types of Numbers in Python<br>
    <strong>2.) Basic arithmetic <br>
    <strong>3.) Differences between classic division and floor division<br>
    <strong>4.) Variable assignments<br>
    <strong>5.) Dynamic typing and Type Casting
</div></font>

<font color='black'><div class="alert alert-info"><strong>1. Types of Numbers in Python</strong><br>

**There are three main types of numbers in Python**<br>
- <font color='red'>**Integers (int):**</font> These are whole numbers without a decimal point.
- <font color='red'>**Float-point (float):**</font> These are numbers with a decimal point.
- <font color='red'>**Complex numbers (complex):**</font> Numbers with a real an imaginary part.

<font color='black'><div class="alert alert-info"><strong>2. Basic arithmetic</strong><br>

In [1]:
# Addition
2 + 8

10

In [2]:
# Subtraction
2 - 8

-6

In [3]:
# Multiplication
5 * 3

15

In [4]:
# Division
3 / 2

1.5

In [5]:
# Floor Division
9 // 4

2

The reason for this is because we are using 'floor' division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.<br><br>So What if we just want remainder after a division?

In [6]:
7 % 4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder afetr division.

In [7]:
# Powers
2**3

8

In [8]:
# square roots
9**0.5

3.0

In [9]:
# Or
9**(1/2)

3.0

In [10]:
# for the cube root of a number
27**(1/3)

3.0

In [ ]:
# Order of operations following Python (BODMAS)

In [11]:
2 * 3 + 5 - 5

6

<font color='black'><div class="alert alert-info"><strong>3. Differences between classic division and floor division</strong><br>

<strong><font color='green'>classic division always returns a float output while floor division returns the whole number part (removes the decimal part)

<font color='black'><div class="alert alert-info"><strong>4. Variable assignments</strong><br>

In [12]:
# Let's create a variable called 'a' and assign it the number 5 (object). Each object has a type, a value and an ID
a = 5

In [13]:
type(a)

int

In [14]:
id(a) # this implies the memory location of the variable 'a'

140709286015912

In [15]:
# Multiple names can point to the same object
b = a

In [16]:
id(b) # Notice the loactions are the same as above

140709286015912

In [ ]:
# Now if I call a in my Python script, it will treat it as the number 5

In [17]:
# adding the objects or numbers 5 + 5 
a + a

10

What happend on reassignment?. Will Python let us write it over?

In [ ]:
a = 10 # variable are overwritten

**The names used when creating variables need to follow a few rules**<br>
1. Names can not start with numbers<br>
2. There can be no spaces in the name, use _ instead<br>
3. Can us use any symbols: ''',<>/?|()!@#$%^&*~-+<br>
4. It's considered best practice (PEP8) that names are lowercase
5. Avoid using the character 'l' (lowercase letter el), 'O'(uppercase letter oh), or 'I'(uppercase letter eye)

In [18]:
# Use object names to keep better track of what's going on in your code
beans_price = 15
discount = 0.2

savings = beans_price * discount
savings

3.0

<font color='black'><div class="alert alert-info"><strong>5. Dynamic typing and Type Casting</strong><br>

Python is a dynamically typed programming language, meaning
- You don't declear variable types before using
- Types can change automatically

In [19]:
name = 'Seiya'

In [20]:
name = "Mary"

<font color='green'><strong>Pros of Dynamic typing</strong><br>
- very easy to work with<br>
- faster development time<br>
</div></font>

<font color='red'><strong>Cons of Dynamic typing</strong><br>
- may result in unexpected bugs
- you need to be aware of the type()

Casting is the process of converting from one data type to another

In [21]:
# lets store the the string "10" to a variable named 'Pay'

pay = "10" # Note this is a string (text) and not a number. 
           # The reason is that the 10 is within two quotes

In [22]:
# Now, if we add the integer 20 to pay, what do you think would happen?

In [23]:
pay + 20

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Wow! We got an exception that states
# TypeError: can only concatenate str (not "int") to str

# The message is not that clear, what it simply means is that you can not
# join a string ("10" saved in a pay variable) to an integer.

In [ ]:
# To mitigate this issue, we convert the string ("10") saved in the variable pay
# to an integer. The process of converting, which is given below, is known as "casting"

In [24]:
# Note pay holds the string "10".
# How do we check if the type of variable is pay?

type(pay) # As you can see below, it returns 'str', which stands for 'String'

str

In [25]:
# Let's assume we have a variable called 'extra_pay' with a value 20
extra_pay = 20
type(extra_pay) # Just like above, let's check the type of object (will talk about this in class) returned

# The result below returned 'int', which stands for integer

int

In [26]:
# Now, back to casting. To add pay and extra_pay (i.e "10" + 20), we need to convert "10" to 10
# or convert string 10 to integer 10 (casting)
pay_rise = int(pay) + extra_pay
pay_rise

30

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i><strong>**Try it out**</strong><br><br>What output of the following questions be?<br><br>
<strong>1, What would happen if you add a float and an integer?</strong><br>
<strong>2, What would happen if you cast a float as an integer?</strong><br>
<strong>2, What would happen if you cast an integer as a float?</strong><br>
<strong>2, What would happen if you cast a string "Hello" as a float or integer?</strong><br>
</div>

In [27]:
pwd

'C:\\Users\\Seiya\\Desktop\\cft_lecture3'