<font color='green'><div class="alert alert-success"><strong><H1>Numbers</H1></strong><br>
We'll learn about the following topics:<br>
    <strong>1.) Tuples<br>
    <strong>2.) Dictionary <br>
    <strong>3.) set<br>
</div></font>

 <div class="alert alert-success"></i><strong>1.0 Tuple
 </strong></div> A Tuple is an ordered, heterogeneous and immutable collection of elements.
<br>If you have data that doesn't change, implementing it as a tuple will guarantee that it remains write-protected, such as longitude and latitude, and weekdays.<br>

In [11]:
# To create an empty tuple
empty_tuple = ()

In [12]:
# to create a tuple, one could define a series of elements separated by a comma, like below:
week_days = "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"
week_days

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [13]:
# Let's verify that this is a tuple by passing the variable tuple1 in type method as below
type(week_days)

tuple

In [14]:
# Though the above way of defining tuple is fine, it is strongly recommended NOT TO USE IT, rather
# It is best to define tuples by passing elements between parentheses as shown below:
my_numbers = (3, 4, 7, 9)
my_numbers

(3, 4, 7, 9)

In [15]:
# Again let us verify that the variable my_numbers is actually a tuple
type(my_numbers)

tuple

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out**<br>How do we create a tuple with a single element?
</div>

In [16]:
# Note a tuple can hold any data type.
# sequence or iterator can be converted to a tuple by invoking tuple
this_is_a_list = ["Peter",17, "John", 18, "Mary", 20]
this_is_a_list_now_tuple = tuple(this_is_a_list)
this_is_a_list_now_tuple

('Peter', 17, 'John', 18, 'Mary', 20)

In [17]:
# A tuple of string
am_a_string = "Congratulations!"
am_a_string_now_tuple = tuple(am_a_string)
print(am_a_string_now_tuple)

('C', 'o', 'n', 'g', 'r', 'a', 't', 'u', 'l', 'a', 't', 'i', 'o', 'n', 's', '!')

In [18]:
# Accessing Elements in a Tuple
# All slicing and indexing techniques from list can be carried out on tuples

In [19]:
# Tuples can be concatenated
tuple1 = (1, 4, 6, "cars")
tuple2 = (0, 2, "keys")

tuple1 + tuple2

(1, 4, 6, 'cars', 0, 2, 'keys')

In [20]:
# Tuples are immutable, However, If an object inside a tuple is mutable, such as a list, you can 
# modify it in-place, let's now try to change an element that is NOT mutable in a tuple, in this case
# the first element: This returns an error
words = tuple(['basic', ["Monday", "Saturday"], True])
words[0] = "Credit"

TypeError: 'tuple' object does not support item assignment

In [21]:
# Observing the variable words, we see that it does hold a list within the tuple and lists are mutable
# This implies that we could change elements in the list, confused? let have a go!
# Firstly, identify the index of the mutable element, in this case, the list is of index 1
words[1].append("Sunday")

In [22]:
# Let's confirm the above code worked
words

('basic', ['Monday', 'Saturday', 'Sunday'], True)

<div class="alert alert-danger"></i><i class="icon-attention-alt"></i>**Try it out**<br>Complete the mutable list with all the days of the week in their right order: your final
output should look like:<br> 
('basic', ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], True)
</div>

 <div class="alert alert-success"></i><strong>1.1 Deleting a Tuple
 </strong></div>Elements of a tuple CAN NOT be deleted, however the entire tuple variable can be deleted using the "del" keyword

In [23]:
# Create a dummy tuple and uncomment the lines one at a time run
# del attribute

# This code would through an error
# del words[0]

# This code works
# del words

In [24]:
# Tuple unpacking
weekday, passcode, town = ("Monday", 202, "Woolwich")
print(weekday)
print(passcode)
print(town)

Monday
202
Woolwich

<div class="alert alert-info"><i class="icon-lightbulb"></i><strong>Discussion</strong><br>List all Python Tuple Methods
</div>

In [25]:
print(dir(words))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [26]:
#Tuple Membership Test
string1 = tuple("elements")
print(string1)
print("e" in string1)
print("z" not in string1)

('e', 'l', 'e', 'm', 'e', 'n', 't', 's')
True
True

 <div class="alert alert-success"></i><strong>2.0 dict (Dictionary)
 </strong></div>A very important built-in Python data structure is the dict also known as the hash map or associative array. 
It is a collection of key-value pairs, where key and value are Python objects. 
One way to creating a dict is to use curly braces {} and colons to separate keys and values or by passing a key value pair to a dict method.

In [27]:
# Create an empty dictionary, by assigning a variable to an empty curly braces
an_empty_dict = {}

In [28]:
# A populated dictionary with key, value pairs
student_names_age = {'Joe':30,'Jane':26,'Philip':14}
student_names_age

{'Joe': 30, 'Jane': 26, 'Philip': 14}

In [29]:
# The other way of defining a dictionary is using the dict method, here we defined a list of tuple
# holding a name and age values.
student_names_age_list = [("Mark", 17), ("Sandra", 19), ("Mary", 29)]
student_names_age_list_dict = dict(student_names_age_list)
student_names_age_list_dict

{'Mark': 17, 'Sandra': 19, 'Mary': 29}

One can access, insert, or set elements of a dictionary using the same syntax as for accessing elements
of a list.

In [30]:
# Let's insert the name Donald and an age of 25 to the student_names_age_list_dict variable
student_names_age_list_dict["Donald"] = 25
print(student_names_age_list_dict)

{'Mark': 17, 'Sandra': 19, 'Mary': 29, 'Donald': 25}

In [31]:
# Let's set the age value of Sandra from 19 to 29
student_names_age_list_dict['Sandra'] = 29
print(student_names_age_list_dict)

{'Mark': 17, 'Sandra': 29, 'Mary': 29, 'Donald': 25}

In [32]:
#One could also join two dictionaries, using the update method
first_dictionary = {'Sunday': 7, 'Monday': 5}
second_dictionary = {'Tuesday': 9, 'Wednesday': 4}

first_dictionary.update(second_dictionary)
print(first_dictionary)

{'Sunday': 7, 'Monday': 5, 'Tuesday': 9, 'Wednesday': 4}

In [33]:
# Access elements from a dictionary
first_dictionary['Sunday']

7

In [34]:
# If you try to access key NOT in the dictionary, we would get an error
first_dictionary['Friday']

KeyError: 'Friday'

In [35]:
# However, you could still try to access a key NOT IN the dictionary without returning errors
# by using the .get() method
# Let's try to access the Friday key again.
first_dictionary.get('Friday','No such key')

'No such key'

In [36]:
# Keys
# To list all keys, run the code below
list(first_dictionary.keys())

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [37]:
# values
# Similarly, to list all the vales in the dictionary, run the code below
list(first_dictionary.values())

[7, 5, 9, 4]

In [38]:
# Delete or remove elements from a dictionary
# To delete key value pairs, use any of the methods, pop(), popitem() or del()
del first_dictionary['Sunday'] # This would delete 'Sunday' and its corresponding value, 7

first_dictionary.pop('Tuesday') # This would show the deleted value

first_dictionary.popitem()

('Wednesday', 4)

 <div class="alert alert-success"></i><strong>3.0 Set
 </strong></div>A set is an unordered collection of unique, mutable objects.However, sets are mutable and can be created in two ways via the set function or via a set literal with curly braces:

In [39]:
# create a set calling the set methods
p = set([10, 15, 20, 20, 24, 50, 50, 60])
print(p)

{10, 15, 50, 20, 24, 60}

In [40]:
# Note: Sets does not support indexing, running the code below would give a syntax error
p[0]

TypeError: 'set' object is not subscriptable

In [41]:
# Verify the object type
print(type(p))

<class 'set'>

In [42]:
# to add a singel item or element to a set, use the add method
p.add(100)
print(p)

{100, 10, 15, 50, 20, 24, 60}

In [43]:
# to add several items to a set use the update method
p.update([20,12,56,100,])
print(p)

{100, 10, 12, 15, 50, 20, 24, 56, 60}

In [44]:
# To remove an element from a set use the remove method
# As you can see 100 has been removed
p.remove(100)
print(p)

{10, 12, 15, 50, 20, 24, 56, 60}

In [45]:
# On trying to remove an item that does not exist throws an error
p.remove(300)

KeyError: 300

In [46]:
# We could get a nicer output even when an item we intend to delete does not exist in the set, 
# using discard method
p.discard(300)
print(p)

{10, 12, 15, 50, 20, 24, 56, 60}

 <div class="alert alert-success"></i><strong>4.0 mathematical set operations</strong>
 </div>

In [47]:
# lets consider these two sets
set1 = {"Orange", "Apple", "Grapes", "Melon", "Berries"}
set2 = {"Grapes", "Melon", "Berries", "Apricot", "Banana", "Beetroot"}

In [48]:
# Union
# The union of two sets is the set of distinct elements occurring in both set. 
# This can be computed with either the union method or the | binary operator
print(set1.union(set2))

{'Melon', 'Beetroot', 'Apricot', 'Banana', 'Grapes', 'Berries', 'Apple', 'Orange'}

In [49]:
print(set1 | set2)

{'Melon', 'Beetroot', 'Apricot', 'Banana', 'Grapes', 'Berries', 'Apple', 'Orange'}

In [50]:
# Intersection
# The intersection contains elements occurring in both sets. 
# The & operator or the intersection method can be used
set1.intersection(set2)

{'Berries', 'Grapes', 'Melon'}

In [51]:
set1 & set2

{'Berries', 'Grapes', 'Melon'}

In [52]:
# This code would return all the elements in set1 that are not in set2
set1.difference(set2)

{'Apple', 'Orange'}