# Functions

In [ ]:
# 0
def hello_func():
    pass

print(hello_func)
print(hello_func())

<function hello_func at 0x7aa219e39bc0>
None

In [ ]:
# 1
def hello_func():
    print("Hello function!")

hello_func()

Hello function!

In [6]:
# 2
def hello_func():
    return "Hello Function!"

print(hello_func())
print(hello_func().upper())

Hello Function!
HELLO FUNCTION!

In [8]:
# 3
def f(greeting):
    return f"{greeting} function"

print(f("Hi"))

Hi function

In [ ]:
# 4
def f(greeting, name="sir"): # named & optional arguments must follow mandatory arguments
    return f"{greeting}, {name}"

print(f("Hi"))
print(f("Hi", "Eric"))

Hi, sir
Hi, Eric

In [11]:
# 5
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

student_info("Math", "Art", name="John", age="22")

('Math', 'Art')
{'name': 'John', 'age': '22'}

In [ ]:
courses = [ "Math", "Art" ]
info = { "name": "John", "age": 22 }

student_info(courses, info)
student_info (*courses, **info) # same as student_info("Math", "Art", name="John", age="22")

(['Math', 'Art'], {'name': 'John', 'age': 22})
{}
('Math', 'Art')
{'name': 'John', 'age': 22}

In [ ]:
# 6 (Reproduced from the standard library)

# Number of days per month. First value placeholder for indexing purposes.
month_days = [ 0 , 31 , 28 , 31 , 30 , 31 , 30 , 31 , 31 , 30 , 31 , 30 , 31 ]

def is_leap(year):
    """Return True for leap years, False for non-leap years.""" 

    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

def days_in_month(year , month):
    """Return number of days in given month of given year."""

    if not 1 <= month <= 12:
        return "Invalid Month"

    if month == 2 and is_leap(year):
        return 29

    return month_days[month]

False

In [14]:
print(is_leap(2017))

False

In [15]:
print(is_leap(2020))

True

In [16]:
print(days_in_month(2017, 2))

28

In [17]:
print(days_in_month(2020, 2))

29