# Tuples

In [11]:
empty_tuple = tuple()

print(empty_tuple)

()

In [2]:
tuple_1 = ("History", "Math", "Physics", "CompSci")
tuple_2 = tuple_1


# Tuples are immutable so assignment not supported
#tuple_1[0] = "Art"

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

# Sets

In [12]:
empty_set = set()
print(empty_set)

set()

In [ ]:
courses = {"History", "Maths", "Physics", "Computing"}

print(courses)

{'Computing', 'History', 'Physics', 'Maths'}

In [ ]:
courses1 = {"History", "Maths", "Physics", "Computing", "Maths"}

print(courses1)

{'Computing', 'History', 'Physics', 'Maths'}

In [6]:
print("Maths" in courses1)

True

In [ ]:
courses2 = {"History", "Art", "Maths", "Design"}

# In both courses1 and courses2
print(courses1.intersection(courses2))

{'History', 'Maths'}

In [9]:
# In courses1 but not courses2
print(courses1.difference(courses2))

{'Computing', 'Physics'}

In [10]:
# In either courses1 or courses2
print(courses1.union(courses2))

{'Physics', 'Art', 'Computing', 'History', 'Design', 'Maths'}

# Dictionaries

In [13]:
empty_dict = {}
print(empty_dict)

{}

In [14]:
student = { "name": "John", "age":25, "courses" : ["Maths", "Computing"]}

print(student)

{'name': 'John', 'age': 25, 'courses': ['Maths', 'Computing']}

In [15]:
print(student["name"])

John

In [16]:
print(student["courses"])

['Maths', 'Computing']

In [17]:
# What if a key does not exist?
print(student["phone"])

KeyError: 'phone'

In [ ]:
# Use get to avoid crashing with a KeyError
print(student.get("phone"))

None

In [19]:
# Even better, specify a default value:
print(student.get("phone", "phone Not Found"))

phone Not Found

In [ ]:
# Adding an entry to the dictionary
student["phone"] = "123-4567"

print(student.get("phone", "phone Not Found"))

123-4567

In [ ]:
# Update an entry
student["name"] = "Jane"

print(student)

{'name': 'Jane', 'age': 25, 'courses': ['Maths', 'Computing'], 'phone': '123-4567'}

In [24]:
# Update multiple entries
student.update({"name": "James", "age":26, "phone":"234-5678"})

print(student)

{'name': 'James', 'age': 26, 'courses': ['Maths', 'Computing'], 'phone': '234-5678'}

In [25]:
# Delete an entry
del student["age"]
print(student)

{'name': 'James', 'courses': ['Maths', 'Computing'], 'phone': '234-5678'}

In [26]:
# remove an entry and get its value
phone = student.pop("phone")

print(student)
print(phone)

{'name': 'James', 'courses': ['Maths', 'Computing']}
234-5678

In [29]:
student = {'name': 'James', 'age': 26, 'courses': ['Maths', 'Computing'], 'phone': '234-5678'}

# How many entries?
print(len(student))

# What are the keys?
print(student.keys())

# What the values?
print(student.values())

# What are the keys and values?
print(student.items())

4
dict_keys(['name', 'age', 'courses', 'phone'])
dict_values(['James', 26, ['Maths', 'Computing'], '234-5678'])
dict_items([('name', 'James'), ('age', 26), ('courses', ['Maths', 'Computing']), ('phone', '234-5678')])

In [31]:
# Loop through keys only
for key in student:
    print(key)

name
age
courses
phone

In [32]:
# Loop through entries
for key , value in student.items():
    print(key, value)

name James
age 26
courses ['Maths', 'Computing']
phone 234-5678